SUBSYSTEMS=="usb",ACTION=="add",KERNEL=="event*",ATTRS{idVendor}=="0eef",ATTRS{idProduct}=="0005",SYMLINK+="twofingtouch",RUN+="/bin/chmod a+r /dev/twofingtouch"
KERNEL=="event*",ATTRS{name}=="WaveShare WS170120",SYMLINK+="twofingtouch",RUN+="/bin/chmod a+r /dev/twofingtouch"	